.contact-text {
  font-size: 40px;
  margin-top: 18px;
}

.contact-menu {
  margin-bottom: 40px;
}
.contact-mini {
  color: var(--light-grey, #ababab);
  font-size: 14px;
  font-weight: 300;
  display: inline;
  position: absolute;
  bottom: 15px;
}
.contact-mini-img {
  margin-top: 0px;
  position: absolute;
  bottom: 15px;
}
.contact-mini-all {
}
/*
.contact-button {
   position: relative;
  bottom: -30px;
}
*/
