.contact-text {
  font-size: 40px;
  margin-top: 18px;
}

.contact-menu {
  margin-bottom: 66px;
}
.contact-mini {
  color: var(--light-grey, #ababab);
  font-size: 14px;
  font-weight: 300;
  display: inline;
}
.contact-mini-img {
  margin-top: 0px;
}
.contact-mini-all {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
}
.contact-button {
  position: relative;
  bottom: -30px;
}

button {
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 8px 16px;
  text-transform: uppercase;
}
