.contact-background {
  /*background-image: url(../img/contact.png);
  width: 50%;*/
}
.contact-text {
  font-size: 40px;
  margin-top: 18px;
}
.contact-menu {
  margin-bottom: 166;
  margin-top: -30px;
}
.contact-mini {
  color: var(--light-grey, #ababab);
  font-size: 14px;
  font-weight: 300;
  display: inline;
}
img.contact-mini {
  margin-top: 0px;
}
