.CTA-contact p {
  color: var(--blue, #0400d3);
  font-family: "Fibonacci";
  font-size: 64px;
  font-style: italic;
  text-transform: uppercase;
}
.CTA-contact {
  justify-content: right;
  /*align-items: center;*/
  display: flex;
  gap: 30px;
  position: fixed;
  bottom: 25px;
  right: 42px;
  animation: rotate 0.4s ease-in-out infinite;
}
.CTA-contact img {
  margin-top: -15px;
}
@keyframes rotate {
  0% {
    rotate: -1.5deg;
  }

  50% {
    rotate: 1.5deg;
  }

  100% {
    rotate: -1.5deg;
  }
}
