.l-homepage {
  height: 100vh;
  display: flex;
  width: 100%;
}

.l-homepage-black {
  background-color: black;
  padding: 39px 59px;
  width: 50%;
}

.l-homepage-white {
  padding: 39px 59px;
  width: 50%;
}
.l-homepage img {
  height: 100%;
  margin: 0px;
}
