.menu h4 {
  font-family: "Fibonacci";
  font-style: italic;
  font-size: 32px;
}
.menu a {
  font-size: 18px;
}
.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 30px;
}
