img.projects-title {
  margin: 0 0 0 -55%;
}
h2.projects-right {
  text-align: right;
}
img.projects-up {
  margin-bottom: 4px;
}
h2.projects-white {
  color: white;
}
h2.projects-above {
  margin-top: -235%;
}
img.projects-black {
  margin: 24px 0 30px;
}
img.projects-bellow {
  margin-top: 30px;
}
