.projects-title {
  margin: 0 0 0 -55%;
}
.projects-right {
  text-align: right;
}
.projects-up {
  margin-bottom: 4px;
}
.projects-white {
  color: white;
}

.projects-white.video-subtitles {
  margin: 30px 0 18px;
}
.projects-above {
  margin-top: -235%;
}
.projects-black {
  margin: 30px 0;
}
.projects-bellow {
  margin-top: 30px;
}

img.projects-title {
  animation: rotate-star 5s ease-in-out infinite;
}

@keyframes rotate-star {
  0% {
    rotate: 0deg;
  }
  5% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}
