.video-title-star {
  margin: 39px 0 0 -75%;
  width: 50%;
  animation: rotate-star 7s ease-out infinite;
}
.video-subtitles {
  margin: 6px 0 18px;
}

.video-clip {
  margin: 0 0 12px;
}
.video-title {
  margin-top: 39px;
}

@keyframes rotate-star {
  0% {
    rotate: 0deg;
  }
  10% {
    rotate: 360deg;
  }
  100% {
    rotate: 360deg;
  }
}
