* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "RegestoGrotesk", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
  margin-top: 18px;
}

h1 {
  font-family: "Fibonacci";
  font-size: 96px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 36px 0;
  font-weight: 400;
}
h2:hover {
  color: #0400d3;
}

p {
  font-size: 22px;
}

/*
.row + .row {
  margin-top: 16px;
}
*/
.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px; /*
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);*/
}

input,
textarea {
  font-size: 40px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid black;
  margin: 18px 0 0;
  font-family: "RegestoGrotesk", sans-serif;
  color: black;
  padding-bottom: 42px;
  width: 100%;
}
input,
textarea:focus-within {
  outline: none;
}
textarea {
  resize: none;
}
button {
  background-color: white;
  color: var(--blue, #0400d3);
  font-size: 45px;
  text-transform: uppercase;
  border: none;
  font-family: "Fibonacci";
  font-style: italic;
  margin-top: 12px;
}
button:hover {
  font-family: "Fibonacci";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  font-size: 45px;
}
