.l-fond-noir {
  background-color: black;
}
.l-fond-noir.video {
  margin-top: 18px;
  padding-bottom: 30px;
}
.l-black-background {
  background-color: black;
}
.l-backgrouind-img {
  width: 50%;
  margin: 0;
  position: absolute;
  z-index: -1;
}
.l-background-black {
  background-color: black;
  width: 50%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
