.l-black-background {
  background-color: black;
}
.l-black-background.video {
  margin-top: 18px;
  padding-bottom: 30px;
}
.l-black-background {
  background-color: black;
}
.l-backgrouind-img {
  width: 50%;
  margin: 0;
  position: absolute;
  z-index: -1;
  height: 100vh;
  object-fit: cover;
}
.l-background-black {
  background-color: black;
  width: 50%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}
.l-img-homepage {
  margin-top: -65px;
  z-index: -1;
  height: 85vh;
  display: flex;
  justify-content: center;
}
.l-img-homepage img {
  height: 100%;
}
.l-homepage {
  height: 100vh;
  display: flex;
  width: 100%;
}

.l-homepage-background {
  padding: 53px 59px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.l-homepage-background.black {
  background-color: black;
}
